.page-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-container {
  padding: 0 10px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-container .fa,
.footer-container .fa {
  display: inline-block;
  margin-left: 30px;
  padding: 10px;
  width: 14px;
  text-align: center;
  transition: background-color 1s;
  border-radius: 50%;
}

.brand-name {
  display: inline-block;
  flex-grow: 1;
  font-family: Winter Calligraphy, serif;
  font-size: 4em;
  margin-bottom: 20px;
}

.brand-name span {
  transition: all 0.5s;
  border-radius: 50%;
}

.brand-name span:hover,
.header-container .fa:hover,
.footer-container .fa:hover {
  cursor: pointer;
  background-color: #C786CF;
}

.nav-bar {
  width: 100%;
  background-color: #ffdccd;
}

.nav-bar-container {
  max-width: 800px;
  margin: 20px auto;
}

.nav-bar a {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.nav-bar a:first-of-type {
  padding-left: 10px;
}

.nav-bar ul {
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav-bar li,
.nav-bar form {
  display: inline-block;
}

.nav-bar li:hover a {
  font-weight: bold
}

.nav-bar .search-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 10px;
}

.search-box input {
  padding-left: 10px;
  letter-spacing: 1px;
  width: 100px;
  border-radius: 10px;
  border: none;
  border-style: none;
  background-color: inherit;
  transition: width 0.3s ease
}

.search-box input:focus {
  outline: none;
  background-color: #ffffff;
  width: 160px;
}

.btn-search {
  background: transparent;
  border-style: none;
  border: none;
  padding: 0 6px;
}