.nav-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: unset;
  box-sizing: border-box;
  background-color: inherit;
  /* font-family: Marianna; */
}

.header-container {
  padding: 0 10px;
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  width: 100%;
  background-color: rgb(141, 233, 220);
}

.nav-bar-container {
  max-width: 1280px;
  margin: 10px auto;
}

.nav-bar a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 0.9em;
}

.nav-bar a:first-of-type {
  padding-left: 10px;
}

.nav-bar ul {
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.nav-bar li{
  display: inline-block;
}

.nav-bar li:hover a {
  color: white;
}

@media screen and (max-width: 510px) {
  .nav-bar-container{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
}

#logo {
  margin: 0 auto;
  max-height: 144px;
  max-width: 256px;
}