<header class="nav-header">
  <div class="header-container">
    <img id="logo" src="assets/images/logo.png" alt="Logo">
  </div>

  <nav class="nav-bar">
    <ul id="nav" [ngClass]="shouldBeVisible ?  'nav-bar-container responsive' : 'nav-bar-container'">
      <li>
        <a href="javascript:void(0);" class="icon" (click)="response()">&#9776;</a>
      </li>
      <li>
        <a href="#" class="nav-link">Home</a>
      </li>
      <li>
        <a href="#" class="nav-link">Portraits</a>
      </li>
      <li>
        <a href="#" class="nav-link">Projects</a>
      </li>
      <li>
        <a href="/about" class="nav-link">About</a>
      </li>
      <li>
        <a href="#" class="nav-link">Contacts</a>
      </li>
    </ul>
  </nav>
</header>