<header class="nav-header">
  <div class="header-container">
    <img id="logo" src="assets/images/logo.png" alt="Logo">
  </div>

  <nav class="nav-bar">
    <ul id="nav" class="nav-bar-container">
      <li>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </li>
      <li>
        <a href="#" class="nav-link">Home</a>
      </li>
      <li>
        <a href="#" class="nav-link">Portraits</a>
      </li>
      <li>
        <a href="#" class="nav-link">Projects</a>
      </li>
      <li>
        <a href="#" class="nav-link">About</a>
      </li>
      <li>
        <a href="#" class="nav-link">Contacts</a>
      </li>
    </ul>
  </nav>
</header>