<header class="page-header">
  <div class="header-container">
    <h1 class="brand-name"><span>Thea</span></h1>
    <i class="fa fa-facebook fa-2"></i>
    <i class="fa fa-twitter fa-2"></i>
    <i class="fa fa-youtube fa-2"></i>
    <i class="fa fa-instagram fa-2"></i>
  </div>

  <nav class="nav-bar">
    <ul class="nav-bar-container">
      <li>
        <a href="" class="nav-link">Posts</a>
      </li>
      <li>
        <a href="" class="nav-link">Albums</a>
      </li>
      <li>
        <a href="" class="nav-link">Photos</a>
      </li>
      <li>
        <a href="about" class="nav-link">About</a>
      </li>
      
      <form action="" class="search-box">
        <input placeholder="Search" type="text">
        <button class="btn-search" type="submit" disabled=""><i class="fa fa-search"></i></button>
      </form>
    </ul>
  </nav>
</header>