<div class="container">
    <section class="portraits">
        <div class="one-third">
            <a class="portrait card" href="/portraits/portrait-1">
                <img src="assets/images/portrait-1.jpg" alt="Portrait-1">
                <p>Bikrot</p>
            </a>
        </div>

        <div class="one-third">
            <a class="portrait card" href="/portraits/portrait-2">
                <img src="assets/images/portrait-2.jpg" alt="Portrait-2">
                <p>Goshy</p>
            </a>
        </div>

        <div class="one-third">
            <a class="portrait card" href="/portraits/portrait-3">
                <img src="assets/images/portrait-3.jpg" alt="Portrait-3">
                <p>Bikrot</p>
            </a>
        </div>

        <div class="one-third">
            <a class="portrait card" href="/portraits/portrait-1">
                <img src="assets/images/portrait-1.jpg" alt="Portrait-1">
                <p>Bikrot</p>
            </a>
        </div>

        <div class="one-third">
            <a class="portrait card" href="/portraits/portrait-1">
                <img src="assets/images/portrait-1.jpg" alt="Portrait-1">
                <p>Bikrot</p>
            </a>
        </div>

        <div class="one-third">
            <a class="portrait card" href="/portraits/portrait-1">
                <img src="assets/images/portrait-1.jpg" alt="Portrait-1">
                <p>Bikrot</p>
            </a>
        </div>
    </section>
</div>