<div class="container">
    <section class="portraits">
        <div *ngFor="let portrait of portraits" (click)="enlarge(portrait)" class="one-third portrait">
            <a class="portrait card" href="javascript:void(0)">
                <img [attr.src]="portrait.imgSrc" alt="Portrait">
                <p>{{portrait.name}}</p>
            </a>
        </div>
        
        <div [attr.class]="image.class">
            <img [attr.src]="image.imageSrc" />
            <a class="lightbox-close" href="javascript:void(0)" (click)="close()"></a>
        </div>
    </section>
</div>