.posts {
  padding: 0 10px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post {
  width: 33%;
  max-height: 240px;
  margin-bottom: 10px;
  cursor: pointer;
}

.post-layout-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.post .description {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  z-index: 10;
  transition: bottom 0.3s ease;
}

.post:hover .description {
  bottom: 70px;
}

.description h3 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post .img-desc {
  font-size: 0.7em;
  font-weight: 400;
}

.post .date {
  font-size: 1.0em;
  font-weight: 400;
}

#dare {
  background-color: #c2f6ea;
}

.wall {
  width: 100%;
  padding: 20px;
  z-index: 15;
  background-color: #ffffff;
}

.pagination-container {
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  position: relative;
  font-size: 1.2em;
}

.text-link {
  display: inline-block;
  padding: 0 15px;
  color: inherit;
}

.text-link.current {
  color: lightgray;
}

.page-numbers {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.pagination-container ul {
  padding-left: 0;
  margin: 20px auto;
}

@media screen and (max-width: 800px) {
  .post {
    width: calc(50% - 5px)
  }
}

@media screen and (max-width: 510px) {
  .layout-container {
    display: none;
  }
  .post-wrapper {
    position: static
  }
  .posts {
    justify-content: center;
  }
  .post {
    width: calc(100% - 10px);
  }
  .page-numbers {
    display: none;
  }
  .text-link {
    padding: 0px 0px;
  }
  .prev,
  .next {
    padding: 0 15px;
    display: inline-block;
  }
}