<section class="container about-us one-pager">
	<div class="card">
		<div class="image-holder left">
			<img class="profile" src="assets/images/photographer.jpg" alt="Profile">
		</div>
		<h3 class="name">The Photographer</h3>
		<p class="description">
			Thea is responsible for all the beautiful content provided here. If you are
			<strong> fascinated </strong> by her art you can contact her by going to the
			<a href="/contacts">Contacts</a> tab and see what kind of services can be offered to you. :)
		</p>
	</div>
	<div class="card">
		<div class="image-holder right">
			<img class="profile" src="assets/images/programmer.jpg" alt="Profile">
		</div>
		<h3 class="name">The Programmer</h3>
		<p class="description">
			Georgi always wants to help people and of course always is ready to write some code. He will be very grateful for any feedback
			so don't hesistate to submit a feature request or notify him for bugs. You can do it
			<a href="/contacts#contact-us">here</a>.
		</p>
	</div>
</section>
