.one-pager {
	display: flex;
}

.scrollable {
	margin: 0 auto;
}

form {
	font-size: 1.8em;
}

.input-group input {
	font-size: 0.6em;
	width: calc(100% - 12px);
}

.input-group input[type="submit"] {
	width: 100%;
}

.input-group {
	margin-bottom: 10px;
}

