<div class="container">
  <section *ngIf="isLoggedIn" class="add-image">
    <a class="btn btn-success" (click)="add()" href="javascript:void(0)">
      <i class="fa fa-plus" aria-hidden="true"></i> Add</a>
  </section>

  <section class="images">
    <div *ngFor="let image of images" (click)="show(image)" class="one-third">
      <a id="image-details" class="image card" href="javascript:void(0)">
        <span *ngIf="isLoggedIn" class="update-container">
          <span (click)="edit($event, image)">
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
          </span>
          <span href="javascript:void(0)" (click)="delete($event, image)">
            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
          </span>
        </span>

        <img [attr.src]="image.getImageSrc()" alt="Image">
        <p>{{image.name}}</p>
      </a>
    </div>
  </section>

  <section>
    <div [attr.class]="box.class">
      <app-dynamic-component [componentData]="componentData"></app-dynamic-component>
      <a class="lightbox-close" href="javascript:void(0)" (click)="close()"></a>
    </div>
  </section>
</div>
