<div class="container">
  <section *ngIf="isLoggedIn" class="add-project">
    <a class="btn btn-success" (click)="addProject()">Add Project</a>
  </section>

  <section id="projects">
    <figure *ngFor="let project of projects" class="projects-gallery">
      <a class="gallery-item" [routerLink]="project.name">
        <div class="thumbnail-wrapper">
          <img [attr.src]="project.getThumbnail().getImageSrc()" alt="Gallery Thumbnail" />

          <div class="overlay">
            <div class="text">
              {{project.name}}
              <br> {{project.pictures}} Photos
            </div>
          </div>
        </div>
      </a>
    </figure>
  </section>
</div>

<section>
    <app-modal [componentData]="componentData"></app-modal>
  </section>
  