<div class="container one-pager">

  <form method="post" enctype="multipart/form-data">
    <div class="flex col align-center">

      <div class="input-group">
        <label for="name">Name:</label>
        <div class="input-field">
          <input class="input" type="text" name="name" placeholder="Thea" required />
        </div>
      </div>

      <div class="input-group">
        <label for="text">Image:</label>
        <div class="input-field">
          <input class="input" type="file" name="image" required accept="image/*" />
        </div>
      </div>

      <div class="input-group">
        <div class="input-field">
          <input class="btn btn-success" type="submit" value="Add" />
        </div>
      </div>
    </div>
  </form>
</div>