.controls {
  padding: 10px;
  display: flex;
  justify-content: space-between
}

.image-controls {
  flex-grow: 1;
}

.images{
    display: flex;
}

.selected {
    width: 75%;
    max-height: 780px;
    min-height: 780px;
}

.all {
    width: 25%;
    overflow-y: scroll;
    height: 780px;
}

.selected img{
    width: 100%;
}

.all img {
    display: block;
    width: 100%;
}