.controls {
  padding: 10px;
  display: flex;
  justify-content: space-between
}

.image-controls {
  flex-grow: 1;
}

.images {
  display: flex;
  height: 560px;
  overflow: hidden;
}

.selected {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center
}

.all {
  position: relative;
  width: 25%;
  overflow-y: auto;
  height: inherit;
}

.all img {
  display: block;
  width: 100%;
}

.listed {
  position: relative;
  cursor: pointer;
}

.listed i {
  font-size: 2em;
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: 0;
  color: white;
}

.listed:hover i {
  opacity: 1;
}
