.controls {
  padding: 10px;
  display: flex;
  justify-content: space-between
}

.image-controls {
  flex-grow: 1;
}

.images {
  display: flex;
  height: 560px;
  overflow: hidden;
}

.selected {
  position: relative;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center
}

.all {
  position: relative;
  width: 25%;
  overflow-y: auto;
  height: inherit;
}

.all img {
  display: block;
  width: 100%;
}

.listed {
  position: relative;
  cursor: pointer;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(204, 204, 204, 0.5);
  opacity: 0;
  transition: opacity linear 0.5s;
}

.search {
  font-size: 2em;
  width: 32px;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 16px);
  right: calc(50% - 16px);
  color: white;
}

.listed:hover .background {
  opacity: 1;
}

@media screen and (max-width: 780px) {
  .selected img,
  .selected,
  .all {
    width: 100%;
  }
  .selected,
  .selected>img {
    display: block;
  }
  .all {
    display: flex;
    height: initial;
    overflow: hidden;
    overflow-x: auto;
  }
  .images {
    display: initial;
  }
  .all img {
    width: 150px;
  }
  .all div {
    display: inline-block;
  }
}

.previous,
.next {
  height: 100%;
  width: 20%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity linear 0.5s;
  cursor: pointer;
}

.previous i,
.next i {
  font-size: 2em;
}

.previous {
  left: 0
}

.next {
  right: 0;
  top: 0;
}

.selected:hover .next,
.selected:hover .previous {
  opacity: 1;
  transition: opacity ease-out 0.5s;
}

.selected:hover .next {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.5))
}

.selected:hover .previous {
  background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.5))
}

.update-container {
  color: white;
  z-index: 1;
}

.update-container i:hover {
  background-color: initial;
}
