<section class="container controls" *ngIf="isLoggedIn">
  <div class="image-controls">
    <a class="btn btn-success" (click)="addImage()" href="javascript:void(0)">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Image
    </a>
  </div>

  <div class="project-controls">
    <a class="btn btn-warning" (click)="editProject()" href="javascript:void(0)">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit
    </a>

    <a class="btn btn-danger" (click)="deleteProject()" href="javascript:void(0)">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Delete
    </a>
  </div>

</section>

<section class="images">
  <div class="selected">
    <div class="previous" (click)="showPrevious()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <img [attr.src]="selected.imageSrc" alt="">
    <div class="next" (click)="showNext()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>    
  </div>
  <div class="all">
    <div *ngFor="let photo of photos">
      <div class="listed" (click)="select(photo)">
        <img [attr.src]="photo.imageSrc" alt="">
        <div class="background">
          <i class="fa fa-search fa-2"></i>
        </div>
      </div>
    </div>
  </div>

</section>
