<section class="about-us">
  <div class="card">
    <div class="image-holder left">
      <img src="assets/images/profile.png" alt="Profile">
    </div>
    <h3 class="name">Author Name</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eveniet quaerat ea ipsam sapiente eum at numquam, ducimus
      enim ipsum itaque, ad quam ullam odit tempora soluta accusantium quis laboriosam in illum! Possimus unde eveniet enim
      expedita, architecto optio quod hic commodi ipsam quibusdam deserunt ut sed voluptatum delectus doloribus!
    </p>
  </div>

  <div class="card">
    <div class="image-holder right">
      <img src="assets/images/profile.png" alt="Profile">
    </div>
    <h3 class="name">Author Name 1</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eveniet quaerat ea ipsam sapiente eum at numquam, ducimus
      enim ipsum itaque, ad quam ullam odit tempora soluta accusantium quis laboriosam in illum! Possimus unde eveniet enim
      expedita, architecto optio quod hic commodi ipsam quibusdam deserunt ut sed voluptatum delectus doloribus!
    </p>
  </div>
</section>
