<header class="nav-header">
	<div class="header-container">
		<a href="/">
			<img id="logo" src="assets/images/logo.png" alt="Logo">
		</a>
	</div>

	<nav class="nav-bar">
		<div class="nav-bar-inner-wrapper">
			<ul id="nav" [ngClass]="shouldBeVisible ?  'nav-bar-container responsive ' : 'nav-bar-container'">
				<li>
					<a href="javascript:void(0);" class="icon" (click)="response()">&#9776;</a>
				</li>
				<li>
					<a routerLink="/" (click)="response()" class="nav-link">Home</a>
				</li>
				<li>
					<a routerLink="/portraits" (click)="response()" class="nav-link">Portraits</a>
				</li>
				<li>
					<a routerLink="/projects" (click)="response()" class="nav-link">Projects</a>
				</li>
				<li>
					<a routerLink="/about" (click)="response()" class="nav-link">About</a>
				</li>
				<li>
					<a routerLink="/contacts" (click)="response()" class="nav-link">Contacts</a>
				</li>
				<li *ngIf="isAuthenticated | async">
					<a routerLink="/feedback" (click)="response()" class="nav-link">Feedback</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
