.notify {
  z-index: 9000;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.notify.is-active {
  -webkit-transform: translateY(0);
					transform: translateY(0);
	top: 0;
}

.notify-success {
  background: #1fd489;
  color: #fff;
}

.notify-danger {
  background: #d41f56;
  color: #fff;
}

.notify-info {
  background: rgb(90, 192, 223);
  color: #fff;
}

.notify-warning {
  background: rgb(240, 173, 78);
  color: #fff;
}

.notify-inner {
  padding: 1em 6%;
  text-align: center;
  line-height: 1.2;
}

.notify-text {
	font-family: Lato;
	font-size: 1.5rem;
	font-weight: bold;
  width: 95%;
  padding: 0 .5rem;
  display: inline-block;
  text-align: center;
  margin: 0;
}

.close-btn {
	color: inherit;
	font-size: 1.5rem;
}
