footer {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

.footer-container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 20px 0;
}

.footer-container .fa {
  height: 100%;
  margin-left: 20px;
}

.copyright {
  text-align: left;
  align-self: flex-start;
  flex-grow: 1;
}

.copyright p {
  display: inline-block;
}

@media screen and (max-width: 510px) {
  .footer-container {
    justify-content: center;
  }
  .copyright {
    flex-grow: 0;
    text-align: center;
  }
  .copyright p {
    display: none;
  }
}