footer {
  width: 100%;
  background-color: #ffffff;
  font-size: 13px;
}

.footer-container {
  margin: 0 auto;
  max-width: 780px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.copyright {
  align-self: flex-start;
  flex-grow: 1;
}

.copyright p {
  display: inline-block;
  margin: 0 0;
  padding: 7px;
}

@media screen and (max-width: 510px) {
  .footer-container {
    justify-content: center;
  }
  .copyright {
    flex-grow: 0;
    text-align: center;
  }
  .copyright p {
    display: none;
  }
}