<div class="container contacts">

  <div id="wrapper" class="flex">
    <section class="contact-form">
      <form method="post">
        <div class="flex col align-center">
          <div class="input-group">
            <label for="name">Name:</label>
            <div class="input-field">
              <input class="input" type="text" name="name" placeholder="e.g. Steven" required />
            </div>
          </div>

          <div class="input-group">
            <label for="email">Email (optional):</label>
            <div class="input-field">
              <input class="input" type="email" name="name" placeholder="Email for further discussion (no spam)" />
            </div>
          </div>

          <div class="input-group">
            <label for="text">Message:</label>
            <div class="input-field">
              <textarea class="input" name="text" placeholder="I was wondering ..." required rows="10" cols="30"></textarea>
            </div>
          </div>

          <div class="input-group">
            <div class="input-field">
              <input class="btn btn-success" type="submit" value="Submit" />
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="faq-wrapper">
      <div [ngClass]="shouldBeVisible ?  'faq active' : 'faq'">
        <div id="header">
          <h4>FAQ</h4>
          <a class="load-more" href="javascript:void(0);" (click)="response()">&#9776;</a>
        </div>

        <ul class="faq-card">
          <li>
            <h5 class="question">What kind of services you offer?</h5>
            <p class="answer">We can photograph you for your personal photo session or venue you want to memorize with photos (like weddings,
              business events etc).</p>
          </li>

          <li>
            <h5 class="question">I found a bug, where to submit it?</h5>
            <p class="answer">You can submit
              <b>bugs</b>
              <a href="/bugs">here</a>.</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>