<div class="container one-pager flex-center">
	<form (ngSubmit)="onSubmit()" #contactUs="ngForm">
		<div class="input-group">
			<label for="name">Name:</label>
			<div class="input-field">
				<input class="input" type="text" name="name" #name="ngModel" [(ngModel)]="contact.name" placeholder="Steven" minlength="3"
				  maxlength="32" required />
			</div>
		</div>

		<div class="input-group">
			<label for="email">Email:</label>
			<div class="input-field">
				<input class="input" type="email" name="email" #email="ngModel" [(ngModel)]="contact.email" placeholder="Email for further discussion"
				/>
			</div>
		</div>

		<div class="input-group">
			<label for="text">Message:</label>
			<div class="input-field">
				<textarea class="input" id="message" name="message" #message="ngModel" [(ngModel)]="contact.message" minlength="30" maxlength="200"
				  placeholder="I was wondering ..." required rows="8" cols="30"></textarea>
			</div>
		</div>

		<div class="input-group">
			<re-captcha (resolved)="resolved($event)" name="captcha" #captcha="ngModel" [(ngModel)]="contact.captcha" required></re-captcha>
		</div>

		<div class="input-group">
			<div class="input-field">
				<input class="btn btn-success" id="submit" type="submit" value="Submit" [disabled]="!contactUs.form.valid" />
			</div>
		</div>
	</form>
</div>
