<div class="container one-pager flex-center">
	<form class="feedback" (ngSubmit)="onSubmit()" #contactUs="ngForm">
		<div class="input-group">
			<label for="name">Name:</label>
			<div class="input-field">
				<input class="input" (keydown)="isNameCharacterAllowed($event)" type="text" name="name" #name="ngModel" [(ngModel)]="feedback.name"
				 placeholder="Steven" minlength="3" maxlength="32" required (blur)="validateName()" />
			</div>
		</div>

		<div class="input-group">
			<label for="email">Email:</label>
			<div class="input-field">
				<input class="input" (keydown)="isEmailCharacterAllowed($event)" type="email" name="email" #email="ngModel" [(ngModel)]="feedback.email"
				 placeholder="Email for further discussion" (blur)="validateEmail()" />
			</div>
		</div>

		<div class="input-group">
			<label for="text">Message:</label>
			<div class="input-field">
				<textarea class="input" id="message" name="message" #message="ngModel" [(ngModel)]="feedback.content" minlength="10" maxlength="500"
				 placeholder="I was wondering ..." required rows="8" cols="30" (blur)="validateMessage()"></textarea>
			</div>
		</div>

		<div class="input-group">
			<re-captcha (resolved)="resolved($event)" name="captcha" #captcha="ngModel" [(ngModel)]="feedback.captcha" required></re-captcha>
		</div>

		<div class="input-group">
			<div class="input-field">
				<button class="btn btn-success btn-loader" [class.loading]="loading" id="submit" type="submit" value="Submit" [disabled]="!contactUs.form.valid || !isRecaptchaValid">Submit</button>
			</div>
		</div>
	</form>
</div>
