<form (ngSubmit)="onSubmit(addPortrait)" #addPortrait="ngForm" class="flex align-center">
	<div class="modal-wrapper">
		<div class="input-group">
			<label for="name">Name:</label>
			<div class="input-field">
				<input class="input" type="text" id="name" name="name" #name="ngModel" [(ngModel)]="portrait.name" placeholder="Thea" required
				 minlength="4" maxlength="32" />
			</div>
		</div>

		<div class="input-group">
			<label for="text">Image:</label>
			<div class="input-field">
				<input class="input" type="file" id="file" name="file" #file="ngModel" [(ngModel)]="portrait.file" requireFile/>
			</div>
		</div>

		<div class="input-group">
			<div class="input-field">
				<button class="btn btn-success btn-loader" [class.loading]="loading" type="submit" [disabled]="!addPortrait.form.valid">Add</button>
			</div>
		</div>
	</div>
</form>
