/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');

html {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #ffffff
}

html,
body {
  height: 100%;
  margin: 0;
  min-width: 240px;
}

header {
  height: 30vh;
}

main {
  height: 65vh;
  overflow: hidden;
  margin: 0 auto;
  max-width: 780px;
}