<footer>
	<div class="footer-container">
		<div class="social-media">
			<a href="facebook">
				<img src="assets/images/facebook-circular-logo.png" alt="Facebok">
			</a>

			<a href="instagram">
				<img src="assets/images/instagram.png" alt="Instagram">
			</a>
		</div>

		<div class="inline flex">
			<div class="copyright">
				<p>No rights reserved.</p>
				<span class="copyright-symbol"> &copy; </span>
				<p>2018 THEODORA TODOROVA</p>
				<p>Site is in development stage</p>
			</div>

			<div class="auth">
				<a *ngIf="!(isAuthenticated | async)" routerLink="/login">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
				</a>
				<a *ngIf="isAuthenticated | async" (click)="logout()" routerLink="/">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</div>
		</div>

	</div>
</footer>
