<footer>
	<div class="footer-container">
		<div class="social-media">
			<a href="facebook">
				<img [src]="constants.FACEBOOK_LOGO_URL" alt="Facebook">
			</a>

			<a href="instagram">
				<img [src]="constants.INSTAGRAM_LOGO_URL" alt="Instagram">
			</a>
		</div>

		<div class="inline flex">
			<div class="copyright">
				<p>All rights reserved.</p>
				<span class="copyright-symbol"> &copy; </span>
				<p>2018 THEODORA TODOROVA</p>
			</div>

			<div class="auth">
				<a *ngIf="!(isAuthenticated | async)" routerLink="/login">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
				</a>
				<a *ngIf="isAuthenticated | async" (click)="logout()" routerLink="/">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</div>
		</div>

	</div>
</footer>
